@using Eggbox.Models
@using Eggbox.Services

<div class="relative p-3 rounded-lg overflow-hidden bg-gray-100 border border-gray-200 transition-transform duration-200 ease-in-out @(isAnimating ? "scale-95 opacity-70" : "scale-100 opacity-100")"
     @onclick="SelectAsync">

    <div class="transition-opacity duration-300 flex gap-10 items-center w-full">
        <div class="grow">
            <div class="font-medium dark:text-gray-100">@MixerInfo.IpAddress</div>
            <div class="badge">@MixerInfo.MixerType</div>
        </div>
        <div class="btn">
            <i class="fas fa-circle-play"></i>Connect
        </div>
    </div>
</div>

@code {
    [Parameter] public MixerInfo MixerInfo { get; set; } = default!;
    [Parameter] public EventCallback<MixerInfo> OnSelected { get; set; }

    private bool isAnimating;

    private async Task SelectAsync()
    {
        if (isAnimating)
            return;

        isAnimating = true;
        StateHasChanged();

        await Task.Delay(200);
        await OnSelected.InvokeAsync(MixerInfo);

        isAnimating = false;
    }
    
}