@import "tailwindcss";
@config "../../tailwind.config.js";


.btn {
    @apply px-5 py-2 bg-white rounded-lg transition text-gray-600 font-semibold disabled:opacity-40 disabled:cursor-not-allowed;
}

.btn.btn-sm {
    @apply px-3 py-1.5 text-sm rounded
}

.btn.btn-primary {
    @apply text-white bg-primary hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-primary
}

h1, h2, h3 {
    @apply font-manrope;
}

input[type="text"], select {
    @apply w-full border px-2.5 py-1.5 rounded border-gray-300 bg-white text-gray-900 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200 outline-0
}
input[type="text"]:focus, select:focus {
    @apply border-primary ring-2 ring-primary/50
}